@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(24, 24, 24);
  --background-rgb: rgb(236, 236, 236);
}

[data-theme="dark"] {
  --background-rgb: rgb(24, 24, 24);
  --foreground-rgb: rgb(236, 236, 236);
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}
